<div>
  <nav>
      <div class="flex items-center justify-between pt-8 pb-10">
        <div>
          <ul class="flex flex-row space-x-4 ">
            <img class="pl-5" src="images/logo.svg" alt="logo">
            <li class=''>
              <a href="#" class="pl-11 text-[0.8rem] text-black/60 relative group">
                <span class="group-hover:text-black">Collections</span>
                <span class="absolute -bottom-12 left-0 w-full h-0.5 bg-[#ff7d1a] scale-x-0 group-hover:scale-x-100 transition-transform duration-200"></span>
              </a>
            </li>
            <li class=''>
              <a href="#" class="pl-3 text-[0.8rem] text-black/60 relative group">
                <span class="group-hover:text-black">Men</span>
                <span class="absolute -bottom-12 left-0 w-full h-0.5 bg-[#ff7d1a] scale-x-0 group-hover:scale-x-100 transition-transform duration-200"></span>
              </a>
            </li>
            <li class=''>
              <a href="#" class="pl-3 text-[0.8rem] text-black/60 relative group">
                <span class="group-hover:text-black">Women</span>
                <span class="absolute -bottom-12 left-0 w-full h-0.5 bg-[#ff7d1a] scale-x-0 group-hover:scale-x-100 transition-transform duration-200"></span>
              </a>
            </li>
            <li class=''>
              <a href="#" class="pl-3 text-[0.8rem] text-black/60 relative group">
                <span class="group-hover:text-black">About</span>
                <span class="absolute -bottom-12 left-0 w-full h-0.5 bg-[#ff7d1a] scale-x-0 group-hover:scale-x-100 transition-transform duration-200"></span>
              </a>
            </li>
            <li class=''>
              <a href="#" class="pl-3 text-[0.8rem] text-black/60 relative group">
                <span class="group-hover:text-black">Contact</span>
                <span class="absolute -bottom-12 left-0 w-full h-0.5 bg-[#ff7d1a] scale-x-0 group-hover:scale-x-100 transition-transform duration-200"></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="flex space-x-9 pr-2">
          <div [matBadge]="currentCount" (click)="toggleDropdown()">
            <img class="w-4 h-4 mt-2 cursor-pointer" src="images/icon-cart.svg" alt="cart">
            <!-- dropdown -->
            <div class="relative mt-2 md:mt-0">
              <div
              *ngIf="isDropdownOpen"
              class="md:absolute -right-24 mt-2 w-64 bg-white rounded-md shadow-lg z-10"
            >
              <h1 class="text-xs pt-2 pl-3 pb-3 font-bold">Cart</h1>
              <hr>

              <!-- Empty Cart State -->
            <div *ngIf="currentCount === 0" class="text-center py-8 text-gray-500">
              Your cart is empty
            </div>

                <!-- Filled Cart State -->
              <div *ngIf="currentCount > 0" class="max-w-64 mx-auto">
                <div class="flex items-center justify-between space-x-2 p-3">
                  <div class="w-9">
                      <img class="rounded-sm" src="images/image-product-1.jpg" alt="images">
                  </div>
                  <div class="text-black/50 text-[0.7rem]">
                    <h2>{{textService}}</h2>
                    <h2>${{numService | number:'1.2-2'}} x {{currentCount}} <span class="font-bold text-black/80">${{multiplyValue() | number:'1.2-2'}}</span></h2>
                  </div>
                  <img
                  (click) = "clearCart()"
                  class="h-3 cursor-pointer" src="images/icon-delete.svg" alt="delete icon">
                </div>

                <div class="flex justify-center items-center bg-[#ff7d1a] hover:bg-orange-300 rounded-md p-[0.8rem] ml-3 mb-3 mr-3 transition-all duration-200">
                  <button class="text-[0.7rem] text-black/90 font-bold">Checkout</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          <img class="w-8 rounded-full border-2 border-transparent hover:border-orange-500 transition-all duration-200 cursor-pointer" src="images/image-avatar.png" alt="avatar">
        </div>
      </div>
      <hr>
  </nav>
</div>
